.main {
  padding: 6% 10%;
    
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .content {
    flex: 1;
  }

  .image {
    max-width: 300px;
    border-radius: 10px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--foreground);
    font-weight: bold;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: var(--foreground);
  }

  a {  text-decoration: none;}

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }

  li {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 8px 12px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #2b2b2b;
    font-weight: bold;
  }

  .first-air-date,
  .homepage,
  .status
 {
    font-size: 1.4rem;
    color: var(--foreground);
    font-weight: bold;
  }
  
  .homepage:hover {
    text-decoration: underline;
  }

  .episodes {
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .episodes::-webkit-scrollbar {
    display: none;
  }

  .season {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 5px;
  }

  .seasonImage {
    max-width: 150px;
    border-radius: 10px;
  }

  .seasonImageContainer {
    min-height: 230px;
  }

  .seasonDetails {
    flex: 1;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: var(--foreground);
      font-weight: bold;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 5px;
      color: var(--foreground);
    }
  }

  .starRating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .starFilled {
    color: gold;
    font-size: 2.5rem;
    margin-right: 5px;
  }
  
  .starEmpty {
    color: #ccc;
    font-size: 2.5rem;
    margin-right: 5px;
  }
}